# Ignore build/generated output
.cache/
.hw/
.hw_emu/
.sim/
.runs/
.gen/
.ip_user_files/
.xpr.cache/
.webtalk/
.sdk/
tmp/
*.cache/
*.jou
*.log
*.str
*.pb
*.opt
*.xml
*.html
*.backup.jou
*.backup.log
vivado*.backup.tcl

# Ignore simulation output
*.wdb
*.vcd
*.vpd
*.svf
*.lxt*
*.asdb
*.ucdb

# Ignore temporary or OS files
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db
desktop.ini
